$url: '../assets/png/icon.png';

.icon-cart_20 {
  width: 20px; height: 20px;
  background: url($url) -226px -10px;
}

.icon-cart {
  width: 16px; height: 16px;
  background: url($url) -10px -10px;
}

.icon-logout_20 {
  width: 20px; height: 20px;
  background: url($url) -266px -10px;
}

.icon-logout {
  width: 16px; height: 16px;
  background: url($url) -46px -10px;
}

.icon-minus {
  width: 16px; height: 16px;
  background: url($url) -82px -10px;
}

.icon-search {
  width: 16px; height: 16px;
  background: url($url) -154px -10px;
}

.icon-trash {
  width: 16px; height: 16px;
  background: url($url) -190px -10px;
}