// color palette
$primary: #00B900;
$primary-hover: #00a500;
$secondary: #202739;
$secondary-hover: #3d4355;
$bg-gray: #fcfcfc;
$light-gray: #f2f2f2;
$light-gray-hover: #d3d3d3;
$dark-gray: #a9a9a9;
$accent: #e74241;

// keyframe
@keyframes bounce {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(0.8);
  }
  100% {
    transform: scale(1);
  }
}